/*****************************************************************************************
// Reset Style 
******************************************************************************************/


/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* -------------------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------------------- */

*{
    margin: 0;
    padding: 0; 
    -webkit-box-sizing: border-box; 
            box-sizing: border-box;
}
html{
    color:#555555;
    font-family:'Roboto Condensed', sans-serif;
    font-size: 62.5%; /* Base font size 10px */
    font-weight: 400;
    text-rendering: optimizeLegibility;
}
body{
    background: #c2e59c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 100%;
}

/* -------------------------------------------------- */
/* REUSABLE COMPONENT */
/* -------------------------------------------------- */

.chips__input{
    width: 60rem;
    margin: 0 auto;
    display: block;
    margin-top: 2rem;
    background: rgba(241, 239, 239, 0.377);
    padding: 2rem;
    border:1px solid #fff;
    border-radius: 15px;
}
.chips__input input[type=text]{
    width: 100%;
    padding: 1rem;
    border:1px solid #cccccc;
}
.chips__input_lists-items{
    list-style: none;
}
.chips__input_lists-item{
    display: flex;
    align-content: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 25px;
}
.chips__input_lists-item:hover{
    background-color: rgb(242, 248, 246);
}
.chips__input_lists-item:hover img{
    border-color:transparent;
}

.chips__input_lists-item img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-top: 2px;
}
.chips__input_lists-item--name, .chips__input_lists-item--email{
    padding: 1.5rem .5rem;
    display: inline-block;
    font-size: 1.5rem;
}
.chips__input_lists-item--name{
font-weight: 700;
}
.chips__input_lists-item--email{
    color:#555555
}

.selectedUsers__List{
    border:1px solid #cccccc;
    background: #fff;
    border-top: 0;
}
.selectedUsers__List_items{
    display: inline-block;
    border:1px solid #ccc;
    font-size: 1.5rem;
    margin: .5rem;
    display: inline-flex;
    align-content: center;
    border-radius: 25px;
    background: #cccccc;
    padding: .5rem;
}
.selectedUsers__List_items img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:1px solid #d2fae6;
    background-color: #dae9eb;
}

.selectedUsers__List_items--name{
    padding: .5rem .5rem;
    display: inline-block;
    font-size: 1.5rem;
}
.closeButton{
    display: inline-block;
    cursor: pointer;
    padding-top: 6px;
    font-weight: bold;
}
#userList{
display: none;
}
h1{
    font-size: 2.6rem;
    color: #fff;
    font-weight: normal;
    margin:1rem;
    text-align: center
}